<main class="parceiros">
    <section class="header">
        <div class="logo">
            <img src="/img/logoImg.svg" alt="Logo">
            <hr>
            <h1>Seja muito bem vindo a nossa área de Parceiros</h1>
            <hr>
            <a href="/cadastroParceiros"><button>Adicionar parceiro</button></a>
            <h1>ou</h1>
            <a href="/"><button>Sair</button></a>
        </div>
    </section>
    <section class="tabela-parceiros container">
        <table>
            <thead>
                <tr>
                    <th style="border-radius: 10px 0 0 0;">Nome</th>
                    <th>Número de telefone</th>
                    <th>Email</th>
                    <th style="border-radius:0 10px 0 0;">Ações</th> <!-- Adicionando uma coluna para as ações -->
                </tr>
            </thead>
            <tbody>
                {{#each parceiros}}
                <tr>
                    <td>{{this.nome}}</td>
                    <td>{{this.numero}}</td>
                    <td>{{this.email}}</td>
                    <td>
                        <div class="buttons">
                            <form action="/parceiros/{{this.id}}?_method=DELETE" method="post">
                                <button class="excluir" type="submit">Excluir</button>
                            </form>
                            <a href="/parceiros/{{this.id}}/editar"><button class="atualizar" type="button">Atualizar</button></a>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </section>
</main>
